
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

body{
    color: black;
        
}
nav{
    background-color: #0c4e80;
   padding: 12px;
}
a{
     font-size: auto;
    color: white;
    text-decoration: none;
    padding: 9px;
    text-justify: auto;
}
a:hover{
    color: aqua;
}

iframe{
   margin-top: center;
}
img{
    width: 1250px;
    height: auto;

}
h1{
    font-family:'Dancing Script';
    font-size: 100px;
    color: black;
    text-decoration: dotted;
    text-align: center;
}
