
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

body{
    color: black;
    
        
}
nav{
    background-color: #0c4e80;
   padding: 12px;
   font-weight: bolder;
    margin-top: 0px;
    height: auto;
    
}
a{
     font-size: auto;
    color: white;
    text-decoration: none;
    padding: 9px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    color:#0c4e80;
    background-color: white;
    border-radius: 8px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
   
}
nav{
    text-align: center;
    padding: auto;
}
p{
    text-align: center;
}
div.box-parent-login{
    text-decoration: dashed;
}
div.boas-vindas{
    background-image: url('../farolbarra.png');
    background-position: left center;
    padding: auto;
    background-size: cover;
    margin: 1px;
    padding: 1px;
    height: 84vh;
    max-height: 110vh;
    min-width:40%;
  

}
div.boas-vindas>h1{
    font-family:'Dancing Script','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10ex;
    color: black;
    text-shadow: 2px 2px 2px #0c4e80;
    text-decoration: dotted;
    text-align: center;
    text-align: right;
    margin:28px 27px 0px 0px;
}
div.boas-vindas>h2{
    text-align:right;
    text-shadow: 2px 2px 2px #0c4e80;
    margin: -25px 40px 0px 1px;
    padding: 0px;
    font-size: 4ex;
    font-family:'Dancing Script','Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main{
    padding: 6px 10px;

}

.login{
    background-image: linear-gradient(white,rgb(192, 185, 185)80, 169, 169));

}
#login {
     display: flex;
   
    align-items: center;

    justify-content: center;

    height:66vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 2px;
}
.card {

    background-image: linear-gradient(#0c4e80,#1a90eb);
    padding: 22px 34px;

    border-radius: 6px;

    width:280px;
    margin-bottom: 10px;

}

.card-header {

    padding-bottom: 10px;

    opacity: 0.8;

    color: #fff;

}

.card-header::after {

    content: "";
    width: 20px;
    height: 1px;

    background-color: #fff;

    display: block;

    margin-top: -17px;

    margin-left: -5px;

}

.card-content label {

    color: #fff;

    font-size: 12px;

    opacity: 0.8;

}

.card-content-area {

    display: flex;

    flex-direction: column;

    padding:10px 0;

}

.card-content-area input {

    margin-top: 10px;

    padding:0 5px;

    background-color: transparent;

    border:none;

    border-bottom: 1px solid #e1e1e1;

    outline: none;

    color: #fff;

}

.card-footer {

    display: flex;

    flex-direction: column;

}

.card-footer .submit{

    width: 100%;

    height: 40px;

    background-color: #a13854;

    border:none;

    color:#e1e1e1;

    margin: 10px 0;

}

.card-footer a {

    text-align: center;

    font-size: 12px;

    opacity: 0.8;

    color: #fff;

    text-decoration: none;

}
div.video{
    margin: 0px;
    padding: 20px;
    position: relative;
    padding-bottom: 58%;
}
/*condiguração do iframe de video*/
div.video > iframe{
    position: absolute;
    top: 0%;
    width:100%;
    height: 100%;
    left: 0px;
    margin-bottom: 0;
}
div >img{
   top: 0%;
}
div.card-footer > a:hover{
    background-color: #0c4e80;
    color: white;
    size: bold;
}

footer{
    background-color: #0c4e80;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}