@charset "UTF-8";

/*todas as demais midias*/

/*impressão*/
@media print {}

/*tablet*/
@media screen and (min-width:768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }

    img#print {
        display: none;
    }

    img#desktop {
        display: none;
    }

    img#tv {
        display: none;
    }


}

/*desktop */
@media screen and (min-width:992px) and (max-width: 1920px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#desktop {
        display: block;
    }

    img#tv {
        display: none;
    }


}

/*grandes telas*/
@media screen and (min-width:1920px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#desktop {
        display: none;
    }

    img#tv {
        display: block;
    }

}