body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(81, 87, 87);
    margin: 0px;
}
header{
    width: auto;
    background-color: beige;
    padding: 10px;
    margin: 10px;
  
    
}
nav{
    background-color: rgb(85, 84, 83);
       padding: 5px;
       box-shadow: 3px 3px 3px rgba(230, 16, 16, 0.767);
        

    
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    
    
}
nav >a:hover{
    text-decoration:underline;
    color: darkblue;
}
main{
    background-color:beige;
    padding: 10px;
    margin: 10px;
    /*
    border-radius: 10px;
    */
    border-radius: 10px 0px;
}
footer{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
}
article{
    background-color:lightgray ;
}
article >aside{
    background-color: rgba(211, 211, 211, 0.493);
}
