@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to right ,#159A9C,#002333);
}
main{
    background-color: white;
    border-radius: 8px;
    box-shadow: 5px 5px 5px #002333;
    width: 600px;
    padding: 10px;
    margin: auto;
}
p{
    text-align: justify;  /*Texto Justificado*/
}
h1{
    color: #002333 ;
    text-align: center;
    text-shadow: 2px 2px 3px #159A9C;
}
h2{
  color: #002333;  
}