@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');


:root{
    --fonte-titulo: 'Bebas Neue', cursive;
    --fonte-paragrafo: 'Sriracha', cursive;
}
main{
    margin: auto;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    padding: 20px;
    margin: auto;
   
}
header>h1{
    font-family: var(--fonte-titulo);
    padding: 21px 4px 0px 4px;
    font-size: 15vh;
    margin: -30px;
  
}
header>p{
    font-family: var(--fonte-titulo);
    font-size: 1em;
    padding: 1px;
  padding-bottom: 4px;
  
}
section>p{
    font-family: var(--fonte-paragrafo);
    font-size: 2.2em;
   padding: 8px 8px 0px 8px;
   margin: 0px;
}

section{
    background-color:white;
    padding: 5px;
    width:98%;
    height: 63%;
    margin-bottom:0px;
}
section>p{
      width: 424px;
    height: 400px;
    padding:  6px 10px 52px 32px;
    margin:10px 10px 34px 28px
}
section#img >p{
  background-color: rgba(0, 0, 0, 0.452); 
  color: white;
  width: 424px;
  height: 400px;
  padding: 96px;
}
#fundo001{
    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-size: cover;
}
#fundo002{
    background-image: url(imagens/background002.jpg);
    background-position: center center;
    background-size: cover;
}
.img>p{
    background-color:rgba(0, 0, 0, 0.281);
    color: white;
    padding:  6px 10px 52px 32px;
    margin:10px 10px 34px 28px
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
 
   
}